---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';

const { dir1 = '', dir2 = '', id, isDark, bg, classes = { container: '' } } = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={` ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={'Nuestras Sucursales'} />
  <div class="grid gap-x-16 gap-y-4 xl:grid-cols-2 lg:grid-cols-2 sm:grid-cols-1 justify-items-center">
    <div class="card w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6434529344133!2d-74.06372082417873!3d4.657509795317367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5b3e66f0c1%3A0xaa428096a0f7e6f8!2sCl.%2071%20%2313-14%2C%20Bogot%C3%A1!5e0!3m2!1sen!2sco!4v1720745656947!5m2!1sen!2sco"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade",
        class="container px-8 py-4"
      >
      </iframe>
    </div>
    <div class="card w-full">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.782695710356!2d-70.62612071154375!3d-33.42890930480703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf6298821f1f%3A0xf4dd6fe22700341e!2sAv.%20Providencia%201208%2C%207500571%20Providencia%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses-419!2sus!4v1720745759092!5m2!1ses-419!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="container px-8 py-4"
      >
      </iframe>
    </div>
  </div>
</WidgetWrapper>
