---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Nosostros',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Nosotros"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Wusla M2M Conexiones <br />
      <h1 class="dark:text-white text-3xl">Soluciones Integrales para una Conectividad Inteligente</h1>
    </Fragment>
    <Fragment slot="subtitle">
      <br>
      En Wusla ofrecemos soluciones integrales de conectividad que combinan SIMs multioperador con servicios avanzados
      de integración de hardware. Especializados en el Internet de las Cosas (IoT), garantizamos una conexión estable y
      continua para una variedad de dispositivos, facilitando la digitalización y el avance tecnológico de nuestros
      clientes. Nuestro compromiso es proporcionar soluciones efectivas y confiables que mejoren la eficiencia y la
      innovación en distintos sectores. En Wusla, buscamos ser el socio preferido para empresas que desean impulsar su
      crecimiento mediante tecnología de punta y conectividad sin interrupciones.
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    columns={2}
    isAfterContent={true}
    items={[
      {
        title: 'Misión',
        description:
          'Garantizar soluciones completas de extremo a extremo en temas de conectividad inalámbrica – IoT mediante SIMs multi operador y servicios de integración de hardware. Nuestra prioridad es asegurar una conectividad fiable y continua para todos los dispositivos, impulsando la transformación digital y el crecimiento de nuestros clientes',
        icon: 'tabler:template',
      },
      {
        title: 'Vision',
        description:
          'Ser un aliado confiable en la integración de soluciones de IoT, ofreciendo productos de alta calidad y un servicio integral que impulse la innovación y eficiencia en múltiples sectores. Aspiramos a apoyar a las empresas en la maximización de su potencial a través de la conectividad y la tecnología avanzada',
        icon: 'tabler:template',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestras sucursales"
    tagline="Encuéntranos"
    columns={2}
    items={[
      {
        title: 'Colombia',
        description: 'Cl. 71 #13-14',
      },
      {
        title: 'Chile',
        description: 'Av. Providencia 1208',
      }
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Contáctenos"
    tagline="Nuestros canales"
    columns={2}
    items={[
      {
        title: 'Correo electrónico',
        description:
          'carolina.guerrero@wusla.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Whatsapp',
        description:
          '+57 316 162 23 85',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  />
</Layout>
