---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'WuslaM2M',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/conn6.png', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title"> Juntos uniendo el mundo</Fragment>

    <Fragment slot="subtitle">
      En Wusla, brindamos soluciones completas de conectividad mediante SIMs multioperador y servicios avanzados de
      integración de hardware, con un enfoque especial en el Internet de las Cosas (IoT). Aseguramos conexiones estables
      y continuas para diversos dispositivos, facilitando la digitalización y el progreso tecnológico. Nuestro objetivo
      es ser el socio preferido para empresas que buscan tecnología de vanguardia y conectividad confiable para impulsar
      su crecimiento.
    </Fragment>
  </Hero>
  <!-- Features2 Widget ************** -->
  <Features2
    title="¿Que ofrecemos?"
    subtitle="Soluciones completas de conectividad que incluyen SIMs multioperador para una conexión fiable, hardware IoT avanzado para integración óptima y software de gestión líder para un control eficiente."
    items={[
      {
        title: 'Conectividad',
        description:
          ' Garantizamos conectividad fiable y continua para diversos dispositivos por medio de Sims Multioperador',
        icon: 'flat-color-icons:globe',
      },
      {
        title: 'Hardware de Dispositivos IoT',
        description: 'Proveemos equipos avanzados para una integración óptima de la mano de las mejores fábricas',
        icon: 'flat-color-icons:electronics',
      },
      {
        title: 'Software de Gestión',
        description: 'Facilitamos la administración y control de soluciones IoT con software de proveedores líderes.',
        icon: 'flat-color-icons:command-line',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 header-back-color dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Brands Widget ****************** -->

  <Brands
    title="Marcas Asociadas"
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />
</Layout>
