---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero2.astro';
import Maps from '~/components/widgets/Maps.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'WuslaM2M',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/Sim1.jpg', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title"> Juntos uniendo el mundo</Fragment>

    <Fragment slot="subtitle">
      En Wusla, brindamos soluciones completas de conectividad mediante SIMs multioperador y servicios avanzados de
      integración de hardware, con un enfoque especial en el Internet de las Cosas (IoT). Aseguramos conexiones estables
      y continuas para diversos dispositivos, facilitando la digitalización y el progreso tecnológico. Nuestro objetivo
      es ser el socio preferido para empresas que buscan tecnología de vanguardia y conectividad confiable para impulsar
      su crecimiento.
    </Fragment>
  </Hero>
  <!-- Features2 Widget ************** -->
  <Features2
    title="¿Que ofrecemos?"
    subtitle="Soluciones completas de conectividad que incluyen SIMs multioperador para una conexión fiable, hardware IoT avanzado para integración óptima y software de gestión líder para un control eficiente."
    items={[
      {
        title: 'Conectividad',
        description:
          ' Garantizamos conectividad fiable y continua para diversos dispositivos por medio de Sims Multioperador',
        icon: 'flat-color-icons:globe',
      },
      {
        title: 'Hardware de Dispositivos IoT',
        description: 'Proveemos equipos avanzados para una integración óptima de la mano de las mejores fábricas',
        icon: 'flat-color-icons:electronics',
      },
      {
        title: 'Software de Gestión',
        description: 'Facilitamos la administración y control de soluciones IoT con software de proveedores líderes.',
        icon: 'flat-color-icons:command-line',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 panel-ws-back-color dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Maps Widget ************** -->
  <Maps />
</Layout>
