---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import baseLogo from '../assets/images/base_logo_transparent_background.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={baseLogo} alt="Logo Wusla" width="180" />
</span>
